@if (shipmentResource.isLoading()) {
  <p>Loading shipments...</p>
}

@if (shipmentResource.error()) {
  <p>Error loading shipments: {{ shipmentResource.error()?.message }}</p>
}

@if (shipmentResource.hasValue() && shipmentResource.value().length < 1) {
  <p>No shipments found. Try sending a package first!</p>
}

@if (shipmentResource.hasValue()) {
  <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.id }}</td>
    </ng-container>

    <!-- Origin City Name Column -->
    <ng-container matColumnDef="originCityName">
      <th mat-header-cell *matHeaderCellDef>Origin City</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.originCity.name }}</td>
    </ng-container>

    <!-- Origin City Country Column -->
    <ng-container matColumnDef="originCityCountry">
      <th mat-header-cell *matHeaderCellDef>Origin Country</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.originCity.country }}</td>
    </ng-container>

    <!-- Destination City Name Column -->
    <ng-container matColumnDef="destinationCityName">
      <th mat-header-cell *matHeaderCellDef>Destination City</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.destinationCity.name }}</td>
    </ng-container>

    <!-- Destination City Country Column -->
    <ng-container matColumnDef="destinationCityCountry">
      <th mat-header-cell *matHeaderCellDef>Destination Country</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.destinationCity.country }}</td>
    </ng-container>

    <!-- Freight Type Column -->
    <ng-container matColumnDef="freightType">
      <th mat-header-cell *matHeaderCellDef>Freight Type</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.freightType }}</td>
    </ng-container>

    <!-- Estimated Delivery Time Column -->
    <ng-container matColumnDef="estimatedDeliveryTime">
      <th mat-header-cell *matHeaderCellDef>Estimated Delivery Time</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.estimatedDays }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.status }}</td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.createdAt | date: 'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
}
